.open{
	display: block;
}

.close{
	display: none;
}

section p{
	border: solid 2px #000000;
	width: 300px;
	hegith:  100px;
}

button{
	background-image: linear-gradient(#4f86f7 0%, #4FDAF7 100%);
	background-image: -webkit-linear-gradient(#4f86f7 0%, #4FDAF7 100%);
	background-image: -o-linear-gradient(#4f86f7 0%, #4FDAF7 100%);
	background-image: -moz-linear-gradient(top,#4f86f7, #4FDAF7);
	background-image: -ms-linear-gradient(#4f86f7 0%, #4FDAF7 100%);
}